<%- include('templates/header', {
    page_title:"Influencer APP"
}) %>

<div class="container">
  <h1 class="text-dark">Trendik TEST</h1>
  <h2>Daniel Felipe Florez Reyes</h2>
</div>
<%- include('templates/footer') %>